/*
* SITE.CSS for q3 autotests
*/

/*---=== General ===---
*/
body {
    font: 0.9em helvetica,arial,sans-serif;
    min-width: 600px;
    max-width: 900px;
    margin-left: 20px;
}

p {
    line-height: 2.5ex; 
    margin: 1.4ex 0;
}

ul {
    margin-left: 20px;
}

li {
    line-height: 2.5ex; 
    margin: 1.4ex 0 0 0;
    list-style-type: circle;
}

h1 {
    font: tahoma,"trebuchet ms",helvetica,arial,sans-serif;
    color: black; 
    font-size: 2.25em; 
    margin: 1.4ex 0;
}

h2, h3, h4 {
    font: bold 1em tahoma,"trebuchet ms",helvetica,arial,sans-serif;
    color: black;  
    margin: 2ex 0 0.5ex;
}

a, a:link {
    color: blue;
    text-decoration: none;
}

em {
    font: 1.2em tahoma,"trebuchet ms",helvetica,arial,sans-serif;
    color: #4b9bd1;  
}

pre {
    font-size: 1em;     
    line-height: 1;
}

.small {
    font-size: 0.8em;
}

.large {
    font-size: 1.2em;
}

.bold {
    font-weight: bold;
}

.clear_both {
    clear: both;
}

textarea {
    font-family: Monaco,Courier;
    display: block;
}

.hidden {
    display: none;
}

.center {
    text-alignment: center;
}


/*---=== General ===---
*/
body {
    position: relative;     /* anchor for '#start_all' */
    margin: 0 auto;         /* centralize if browser window made big */
    min-width: 700px;
    max-width: 700px;
}

#use_via_server {
    background: red;
    color: lightgray;
    margin: 1em;
    padding: 0.5em;
    border: 2px solid black;
    text-align: center;
}

#start_all {
    position: absolute;
    right: -15px;
    top: -10px;
    background: url(gra/minicons/Refresh.png) right top no-repeat;
    height: 50px;
    width: 200px;
    font-size: 2.5em;
    padding: 0.2em 0.2em;
    border: 2px solid white;
    cursor: pointer;    /* hand */
}
#start_all:hover {
    border: 2px solid red;
}

#config {
    margin-bottom: 15px;
}

#q3_version {
    color: blue;
}
#q3_version.offline {
    color: red;
}


/*---=== Surrounding frame ===---
*/
div#frame {
    background: #ddd;
    margin: 10px -40px 20px -40px;
    padding: 10px 0px 15px 30px;
}


/*---=== #go_all ===---
*/
#go_all {
    float: right;
    margin: 20px 30px 0 0;
    padding-right: 40px;
    padding-top: 15px;

    font: 1.4em tahoma,"trebuchet ms",helvetica,arial,sans-serif;
    height: 48px;
    width: 120px;

    cursor: pointer;    /* hand */
    background: url(gra/minicons/Refresh.png) no-repeat right top;
}
#go_all:hover {
    color: blue;
}


/*---=== Header ===---
*/
#q3_presets {
    float: right;
    margin-right: 40px;
}


/*---=== Test box ===---
*/
div[test] {
    background: #13266e;
    margin-bottom: 10px;
    color: #ffa554;
    padding: 10px;
    width: 700px;
    
    /* Changing the background happens neat (if browser supports)
    */
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
}
div[test][status='ok'] {
    background: green;
}
div[test][status='almost'] {
    background: #ffe365;
}
div[test][status='fail'] {
    background: #ee0923;    /* red */
}
div[test][status='busy'] {
    background: lightgray;
}
div[test] .header {
    height: 4em;
}

div[test] div.q3 .result, div[test] div.ok {
    width: 100%;
    height: 5em;
    background: #ddd;
    border: 2px inset white;
    color: black;
    
    /* Note: 'pre-wrap' does automatic wrap but only at white space. There is no way to
    *       force wraps in between long words it seems (= we must provide white space from
    *       the diffing function).
    */
    white-space: pre-wrap;
    
    /* Enable (horizontal and/or vertical) scrollbars when needed.
    */
    overflow: auto;
}


/*
* Collapse buttons
*/
div[test] .collapse_button {
    float: right;
    height: 32px;
    width: 32px;
    margin-right: 15px;
    cursor: pointer;    /* hand */
    background: url(gra/playericons/remove.png) no-repeat;
}

div[test].collapsed .collapse_button {
    background: url(gra/playericons/add.png) no-repeat;
}

/*
* Hide the parts if a test is collapsed
*
* TBD: Actually by 'collapsed' we mean 'hidden'. This may be ambigious and
*      a better class name be used instead.
*/
div[test].collapsed >* {
    display: none;
}
div[test] div.header {
    display: block !important;
}

/* Sliding in/out of the collapse objects 
*/
div[test].collapsed >* {
    -webkit-transition: height 0.2s linear;
    -moz-transition: height 0.2s linear;
}


/*
* TBD: Not sure where a border for the image comes from. It's not in the image,
*       and it's not a CSS border.
*/
div[test] [picture] {
    float: right;
    height: 48px;
    width: 48px;
    cursor: pointer;    /* hand */
    border: none;
}
div[test] [picture='go'] {
    background: url(gra/minicons/Refresh.png) no-repeat;
}
div[test] [picture='stop'] {
    background: url(gra/minicons/Stop.png) no-repeat;
}
div[test] [picture='failed'] {
    background: url(gra/minicons/Alert.png) no-repeat;
}
div[test] [picture='success'] {
    background: url(gra/minicons/Select.png) no-repeat;
}

div[test] .name {
    font-size: 1.4em;
}

div[test] .description {
    font-size: 0.9em;
}

div[test] .q2, 
div[test] .q3 {
}

/*
* Note: Absolute positioning 
*/
div[test] a.url {
    height: 1em;
    color: white;
    font-size: 0.8em;
    padding-left: 1em;
}

div[test] textarea {
    margin-bottom: 5px;
    width: 690px;
}

div[test] textarea.script {
    font-size: 0.8em;
}

div[test] textarea.q3_result {
}
div[test] textarea.ok {
}

div[test] a {
    cursor: pointer;    /* hand, even when no 'href' */
}

div[test] .diff {
    min-height: 2em;
    width: 100%;
    background: white;
}


/*
* Comparison pictures to be next to each other (comparison picture slightly smaller)
*/
div[test] img {
    width: 300px;
    height: 300px;
    margin-right: 10px;
}
div[test] img.ok {
    width: 150px;
    height: 150px;
}


/*
* Diffing colors
*/
.red {
    color: #ee282b;
}
.yellow {
    color: #ffa314;
}



